body{
    background-color: #18181B;
}

h1{
    color: #fff;
    text-align: center;
    margin: 30px 0;
}
/*Tabela no Desktop*/
.table-desktop{
    display: flex;
    justify-content: center;
    padding: 15px;
}
table{
    max-width: 800px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 50px;
}
thead tr th{
    padding: 20px;
}
td{
    padding: 30px 10px;
}
tbody tr:hover{
    background-color: rgb(23, 23, 28, 0.8);
    color: #fff;
}
.second-color{
    background-color: #dcdcdc;
}


/*Cards no Mobile*/
.table-mobile{
    display: none;
    flex-direction: column;
    color: #000;
}
.card{
    display: flex;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    animation: side 0.5s forwards;
    visibility: hidden;
    
}
.container-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
    font-size: 1.1rem;

}
.container-text div{
    display: flex;
}
.container-text div span:first-child{
    font-weight: bold;
    margin-inline-end: 5px;
}
.photo{
    display: flex;
    justify-content: center;
    max-width: 150px;
}
img{
    width: 100%;
}
