main{
    margin-top: 150px;
    margin-bottom: 150px;
}

.container-produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.produto:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.container-img{
    max-width: 100%;
}
.img-product{
    width: 100%;
}
.product-name{
    font-size: 2em;
}
.product-value{
    font-size: 1.5em;
}
.btn-comprar{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(
        #24252a 80%,
        rgb(66, 64, 64)
    );
    font-size: 1em;
    text-transform: uppercase;
}